#Main-page {
  margin: 1px;
}

.header-element {
  color: white;
  background-color: orange;
  font-family:'papyrus';
  padding: 8px;
}

footer {
  text-align: center;
  margin-top: 37.5rem;
  color: grey;
}

.note-handler-box {
  border-radius: 15px;
  background-color: lightgrey;
  box-shadow: 2px, 2px, 2px, 2px lightgrey;
  text-align: center;
  max-width: 20rem;
  min-width: 400px;
  padding: 15px;
}

.mapping-note-boxes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 25px;
}
.input-area input {
  padding: 8px;
  margin: 5px;
  width: 25%;
}